/* couleurs primaire */
.font-metre
{
 color:#111441;
 font-family: 'BigCaslonFB-Regular';
 src:"Assets\font\BigCaslonFB-Regular.ttf";
}
.bg-metre{
    background-color: #f7f7f7;
}
.bg-metre-bleu{
    background-color:#111441;
}
.bg-metre-hall{
    background-color: peru;
}
h1{
    color:#111441;
    font-family: 'BigCaslonFB-Regular';
    src:"Assets\font\BigCaslonFB-Regular.ttf";    
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

.btn {
    text-decoration: none;
    padding: 10px;
    font-family: arial;
    font-size: 1em;
    color: #111441;
    background-color: #f7f7f7;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border: 1px solid #111441;
    }
    
    
    .btn:hover {
    padding: 10px;
    color: #f7f7f7;
    background-color: #111441;
    border: 1px solid #f7f7f7;
    }
    .contact{
        display: flex;
        flex-wrap: wrap;
    }
    .vertical-line{
        border-left: 1px solid #111441;
        display: inline-block;
        height: auto;
        }
    .list-col{
    border-radius: 190px;
    margin: 15px;
    display: flex;
    flex-wrap: wrap; /* Allows cards to wrap to the next line */
    justify-content: center; /* Centers the cards */
      }